/*color*/
/*size display*/
/*font*/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

/*mixin*/
.modal-logIn--header {
  display: flex;
  align-items: center; }
  .modal-logIn--header .logo {
    display: flex;
    align-items: center; }
    .modal-logIn--header .logo img {
      width: 50px; }
    .modal-logIn--header .logo h2 {
      color: #1c676b;
      margin-left: 10px;
      margin-bottom: 0;
      font-size: 24px;
      font-weight: 400; }
  .modal-logIn--header > button {
    margin-right: 0 !important;
    outline: none; }
    .modal-logIn--header > button > span {
      font-size: 30px; }
  .modal-logIn--header > button:hover > span {
    color: #519546; }

.modal-logIn--body .login__right {
  position: relative; }
  .modal-logIn--body .login__right__logo--image {
    margin-top: 70px; }
    .modal-logIn--body .login__right__logo--image img {
      width: 100%; }
  .modal-logIn--body .login__right__copyright {
    margin-top: 70px; }
    .modal-logIn--body .login__right__copyright span {
      color: #519546;
      font-size: 18px; }

.modal-logIn--body .login__left {
  padding: 0 30px;
  position: relative; }
  .modal-logIn--body .login__left__form h2 {
    text-align: center;
    color: #1c676b;
    font-weight: 700;
    margin-bottom: 40px; }
  .modal-logIn--body .login__left__form__input {
    position: relative; }
    .modal-logIn--body .login__left__form__input input {
      height: 60px;
      padding-left: 60px;
      border: 2px solid #519546; }
    .modal-logIn--body .login__left__form__input input:focus {
      outline: none; }
    .modal-logIn--body .login__left__form__input i {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      color: #519546; }
  .modal-logIn--body .login__left__form .form__feature {
    display: flex;
    justify-content: space-between; }
    .modal-logIn--body .login__left__form .form__feature--check {
      display: flex;
      align-items: center; }
      .modal-logIn--body .login__left__form .form__feature--check .check--label {
        color: #519546;
        font-size: 16px;
        user-select: none;
        margin: 0 0 0 6px; }
    .modal-logIn--body .login__left__form .form__feature--forgot-password a {
      color: #519546;
      margin-right: 30px;
      text-decoration: none;
      font-size: 16px; }
  .modal-logIn--body .login__left__form button {
    font-size: 22px;
    font-weight: 500;
    padding: 12px 50px;
    display: block;
    margin: 24px auto 0;
    background-color: #519546; }
  .modal-logIn--body .login__left__form__create {
    margin-top: 30px; }
    .modal-logIn--body .login__left__form__create--account {
      font-size: 18px;
      color: #519546;
      text-align: center;
      display: block; }
    .modal-logIn--body .login__left__form__create span {
      color: #519546;
      display: block;
      text-align: center;
      font-size: 18px; }
    .modal-logIn--body .login__left__form__create .society {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px; }
      .modal-logIn--body .login__left__form__create .society a {
        margin: 0 10px; }
        .modal-logIn--body .login__left__form__create .society a img {
          width: 30px; }
  .modal-logIn--body .login__left .rules {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 48px;
    position: absolute;
    bottom: 0;
    right: 0; }
    .modal-logIn--body .login__left .rules a {
      font-size: 18px;
      color: #519546; }
    .modal-logIn--body .login__left .rules span {
      font-size: 18px;
      margin: 0 10px;
      font-weight: 200;
      opacity: .7; }

@media (min-width: 768px) and (max-width: 1023px) {
  .modal-logIn {
    margin: 0 20px; }
    .modal-logIn--body .login__left .rules {
      position: unset; }
    .modal-logIn--body .login__right {
      display: none; } }

@media (max-width: 479px) {
  .modal-logIn {
    margin: 0 20px; }
    .modal-logIn--body .login__left .rules {
      position: unset; }
    .modal-logIn--body .login__right {
      display: none; } }
