
@{
    ViewBag.Title = "Tính Năng Và Lợi Ích";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/assets/scss/TinhNangVaLoiIch.css" rel="stylesheet" />
}

@section scripts {
    
}

<div class="container feature">
    <h2>Các <span>tính năng</span> chỉ có trên nền tảng biểu mẫu thông minh DocTemp</h2>
    <p>Với sức mạnh công nghệ, DocTemp kế thừa những hiệu quả hiện tại và mang đến trải nghiệm một cách hoàn toàn khác biệt, giúp doanh nghiệp quản lý hành chính hiệu quả trong thời đại số.</p>
    <div class="row feature__row">
        <div class="col-xl-4 feature__row--item">
            <div>
                <h3>Đề xuất bởi <span>DocTemp AI</span></h3>
                <p>DocTemp AI sẽ tiến hành phân tích dữ liệu doanh nghiệp, hành vi tìm kiếm để đề xuất những biểu mẫu, giải pháp giúp doanh nghiệp gia tăng hiệu quả trong công tác quản lý hành chính.</p>
                <div style="background-image: url('../../assets/images/Doctemp ai.png'); "></div>
            </div>
        </div>
        <div class="col-xl-4 feature__row--item">
            <div>
                <h3>Tính năng <span>quản lý biểu mẫu</span></h3>
                <p>Giúp doanh nghiệp biết được chính xác số lượng biểu mẫu đã sử dụng trong một dự án hay trong một khoảng thời gian..</p>
                <div style="background-image: url('../../assets/images/quan-ly-tai-lieu.png')"></div>
            </div>
        </div>
        <div class="col-xl-4 feature__row--item">
            <div>
                <h3>Gia tăng <span>hiệu quả</span> công việc</h3>
                <p>Doanh nghiệp hoàn toàn có quyền lựa chọn và kích hoạt các biểu mẫu phù hợp để tăng hiệu quả công việc.</p>
                <div style="background-image: url('../../assets/images/hieu-qua-cong-viec.png')"></div>
            </div>
        </div>
    </div>
</div>

